<div class="preamble" id="zen-preamble" role="article">
		<table border="1" style="width:500px">
		<h3>Creacion de Partido</h3>
		
		  <div class="group">
 				<% form_for(@torneos, '/partidos/create') do |f| %> 
 					<%= f.label :torneo %><%= f.error_message_on :name %> <br>
 					<%= f.select(:name, :collection => @torneos, :fields => [:name])%>
 					<span class="description">selecciona un torneo</span>
 				<% end %>
 			</div>
 			<div class="group">
 				<% form_for(@equipos, '/partidos/create') do |e| %> 
 					<%= e.label :equipo_local %><%= e.error_message_on :name %> <br>
 					<%= e.select(:name, :collection => @equipos, :fields => [:name])%>
 					<span class="description">selecciona un equipo local</span>
 				<% end %>
 			</div>
 			<div class="group">
 				<% form_for(@equipos, '/partidos/create') do |e| %> 
 					<%= e.label :equipo_visitante %><%= e.error_message_on :name %> <br>
 					<%= e.select(:name, :collection => @equipos, :fields => [:name])%>
 					<span class="description">selecciona un equipo visitante</span>
 			 	<% end %>
 			 </div>
 			 <% form_for(@partido, '/partidos/create') do |p| %>
                <%= p.label :fecha %>	
				<%= p.text_field :fecha %> 
				<span class="description">(dd-mm-yy)</span> <br>
				<%= p.submit "Agregar", :class => 'button' %>				
			<% end %>
		</table>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						
					</li>	
					<li>
						
					</li>		
						
				</ul>
			</nav>
				
		</div>

	</div>
</aside>
