<div class="preamble" id="zen-preamble" role="article">
		<table border="1" style="width:500px">
		<h3>Creacion de Partido</h3>
		<% form_for(@partido, '/partidos/create') do |p| %> 

			<%= p.label :torneo %> <br>
			<%= p.select(:torneo, :collection => @torneos, :fields => [:name], :include_blank => 'Seleccionar torneo') %> <br>

            <%= p.label :fecha, :caption => 'Fecha del partido: ', :required => true %> <br>
			<%= p.text_field :fecha, :placeholder => 'yyyy-mm-dd' %> <br>

			<%= p.label :equipo_local %> <br>
			<%= p.select(:equipo_local, :collection => @equipos, :fields => [:name], :include_blank => 'Seleccionar un equipo local') %> <br>

			<%= p.label :equipo_visitante %> <br>
			<%= p.select(:equipo_visitante, :collection => @equipos, :fields => [:name], :include_blank => 'Seleccionar un equipo visitante') %> <br>
               
			<%= p.submit "Crear", :class => 'button' %>
			
		<% end %>
		</table>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						
					</li>	
					<li>
						
					</li>		
						
				</ul>
			</nav>
				
		</div>

	</div>
</aside>
