<div class="preamble" id="zen-preamble" role="article">
		<h3> Torneos Creados Recientemente </h3>
		<p>Aquí se encuentran los torneos recientemente creados: </p>
		<table border="1" style="width:500px">
			<tr>
			  <th align="center">Torneos</th>
			</tr>
			<% @torneos.each do | torneo | %>
			<tr>
  			<td align="center">
				<%= link_to torneo.name, url_for(:torneos, :show, :torneo_id => torneo.id), :class => 'link'%>
			</td>
			</tr>
 			<% end %>

		</table>
		<br>
		<%= link_to "Ver mas", url(:torneos, :all), :class => 'link' %>
</div>

<div class="preamble" id="zen-preamble" role="article">
		<h3> Equipos Creados Recientemente </h3>
		<p>Aquí se encuentran los equipos recientemente creados: </p>
		<table border="1" style="width:500px">
			<tr>
			  <th align="center">Equipos</th> 
			</tr>
			<% @equipos.each do | equipo | %>
			<tr>
			<td align="center">
				<%= equipo.name %>
			</td>
			</tr>
				<% end %>
		</table>
		<br>
		<%= link_to "Ver mas", url(:equipos, :all), :class => 'link' %>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>
					<li>
						<%= link_to "Agregar Torneo", url_for(:torneos, :new), :class => 'link'%>
					</li>	
					<li>
						<%= link_to "Agregar Equipo", url_for(:equipos, :new), :class => 'link'%>
					</li>		
				</ul>
			</nav>
			
		</div>
		</div>
</aside>
