<div class="preamble" id="zen-preamble" role="article">		
		<h3> Partidos para <%= torneo_actual.name %> </h3>
		<table border="1" style="width:500px">
			<tr>
			  <th align="center">Fecha</th> 
			  <th align="center">Local</th>
			  <th align="center">Resultado Local</th>
			  <th align="center">Visitante</th>
                          <th align="center">Resultado Visitante</th>
                          <th align="center">Acciones</th>
			</tr>
			<% @partidos.each do | partido | %>
			<tr>

			<td align="center">
				<%= partido.fecha %>
			</td>
  			<td align="center">
				<%= partido.nombre_equipo_local %>
			</td>
                        <td align="center">
				<%= text_field_tag(:resultado_local, :maxlength => 2, :class => 'input-mini') %>
			</td>
			<td align="center">
				<%= partido.nombre_equipo_visitante %>
			</td>
                        <td align="center">
				<%= text_field_tag(:resultado_local, :maxlength => 2, :class => 'input-mini') %>
			</td>
                        <td align="center">
				<%= link_to "Jugar", url(:home, :index), :class => 'btn btn-primary' %>
			</td>
			</tr>
 			<% end %>
                        
		</table>
		<br>
		<%= link_to "Volver", url(:home, :index), :class => 'btn btn-secondary' %>
</div>

<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						<%= link_to "Agregar Partido", url_for(:partidos, :new), :class => 'link'%>
					</li>							
				</ul>
			</nav>
				
		</div>

	</div>
</aside>
